<%- include('header') -%>

<div class="error">
  <h1 class="error-title"><%= title %></h1>

  <p class="error-text" style="text-align: center; margin-top: 1rem;"><%= text %></p>
    <a href="/">Á forsíðu</a>
</div>

<%- include('footer') -%>
